
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SayHello</title>
</head>
<body>
    <h1>Hello From Dotnet Core MVC View</h1>
    @for(int i= 0; i < 10; i++)
     {
         <p>i=@i</p>
     }
</body>
</html>
